$darkBrown: #361c12;
$brown: #4f3b3b;
$darkRed: #9d321b;
$red: #e56655;
$darkYellow: #cd9c50;
$yellow: #f4d37a;
$cream: #f0e9dd;

// text colors
$textDark: #4f3b3b;
$textLight: #fff;

@mixin transition($val){
	-webkit-transition: $val;
	transition: $val;
}

@mixin boxShadow($val){
	-webkit-box-shadow: $val;
	box-shadow: $val;
}

@mixin borderRadius($val){
	-webkit-border-radius: $val;
	border-radius: $val;
}

@mixin boxSizing {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@font-face{
  font-family: 'Liga';
	src: url('../font/websymbolsligaregular.eot');
	src: url('../font/websymbolsligaregular.eot?#iefix') format('embedded-opentype'),
     url('../font/websymbolsligaregular.woff') format('woff'),
     url('../font/websymbolsligaregular.ttf') format('truetype'),
     url('../font/websymbolsligaregular.svg#WebSymbolsRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Open Sans Light';
    src: url('OpenSans-Light-webfont.eot');
    src: url('OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Light-webfont.woff') format('woff'),
         url('OpenSans-Light-webfont.ttf') format('truetype'),
         url('OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Regular-webfont.eot');
    src: url('OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Regular-webfont.woff') format('woff'),
         url('OpenSans-Regular-webfont.ttf') format('truetype'),
         url('OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	margin: 35px;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 16px;
	color: #666;
}
